{% extends "base.html" %}

{% block content %}

<h2 class="mb-4">
    <i class="bi bi-person-plus"></i> Register
</h2>

<form method="POST">
    <div class="mb-3">
        <label>Username</label>
        <input type="text" name="username" class="form-control" required>
    </div>

    <div class="mb-3">
        <label>Password</label>
        <input type="password" name="password" class="form-control" required>
    </div>

    <button class="btn btn-success">Register</button>
</form>

<a href="/login">Already have account? Login</a>

{% endblock %}